.resultats-content-2 {
    height: 263px;
    width: 835px;
    // background-color: green;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  
   
   
  }


  .graphics-shape{
  
      height: 263px;
      width: 258px;
 
  
}
  