.profil-container {
    display: flex;
    flex-direction: column;
  }
  
  .profil-content {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  

  .profil-all-results{
    display: flex;
    gap: 30px;


  }
  .resultats-content-1 {
    height: 320px;
    width: 835px;
    background-color: #FBFBFB;
    margin-top: 160px; 
  }
  
  .resultats-content-2 {
    height: 263px;
    width: 835px;
    // background-color: green;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
   
    
    &-graph1{
        background-color: #FF0000;

    }

    &-graph2{
        background-color: #282D30;

    }

    &-graph3{
        background-color: lightgrey;

    }

    &-graph1, &-graph2, &-graph3{
        height: 263px;
        width: 258px;
        // margin-right: 20px;
    }
  }


  .resultats-nutriments{
    width: 350px;
    height: 645px;
    background-color: lightgray;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   

    &-1, &-2,&-3,&-4{

        
        display: flex;
        // gap:40px;
        justify-content: space-around;
        align-items: center;

    }
  }