 .resultats-content-2{
    


    &-graph3{
        background-color: lightgrey;

    }

    &-graph1, &-graph2, &-graph3{
        height: 263px;
        width: 258px;
        // margin-right: 20px;
    }
}