.resultats-content-1 {
  height: 320px;
  width: 835px;
  // background-color: #b6a0a0;
  margin-top: 160px;
  padding: 20px; // Add padding if needed to adjust the layout
}

.resultats-content-1 h3 {
  text-align: left;
  margin-bottom: 20px; // Add margin bottom to create space between the title and the legend
}

.resultats-content-1 .custom-legend {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px; // Adjust the margin to create space between the legend and the chart
}

.resultats-content-1 .custom-legend div {
  margin-right: 20px;
}

.resultats-content-1 .custom-legend span {
  background-color: #000000; // Black color for "poids"
  padding: 5px 10px;
  color: #fff;
}

.resultats-content-1 .custom-legend span:last-child {
  background-color: #FF0000; // Red color for "calories"
}
