.resultats-content-1 {
  height: 320px;
  width: 835px;
  margin-top: 160px;
  padding: 20px; // Add padding if needed to adjust the layout
}

.resultats-content-1 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultats-content-1 h3 {
  text-align: left;
  margin: 0; // Remove margin bottom to align with legend
}

.custom-legend {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.custom-legend .legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.custom-legend .legend-point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.custom-legend .black {
  background-color: #000000; // Black color for "Poids"
}

.custom-legend .red {
  background-color: #FF0000; // Red color for "Calories brûlées"
}
