.square-sideBar,
.square-nutriments-1{
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.square-nutriments-1{
    background-color: rgb(233, 190, 190);
}


.square-sideBar{
        background-color: #FFFFFF;
    }