.LineCharte {

    box-sizing: border-box;
    background-color: rgb(211, 56, 56);
  }
  
  .LineCharte h3 {
    text-align: center;
    // margin-bottom: 20px;
  }
  
  .LineCharte .recharts-legend-wrapper {
    margin-bottom: 20px; 
  }
  