.nav-container-top{

    
    &-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 91px;
      

        

        &-item{
            // margin-left: 160px; //ici pour modifier espacement 
            font-size: 24px;
            // display: flex;
            
        }
    }
}



.nav-container-bottom{
height: 100%;
    
    &-list{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content:center;
        height: 100%;
        width: 91px;
      
        &-item{
           margin: 30px 0px;
            // font-size: 24px;
            // display: flex;
            
        }

    }
}
.copyright {
    writing-mode: vertical-rl; /* Texte vertical, de droite à gauche */
    transform: rotate(180deg); /* Inverser pour bas en haut */
    white-space: nowrap; /* Empêcher les mots de se casser en plusieurs lignes */
    position: relative;
    top: 15%;
}