.nav-container{

    
    &-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 91px;
      

        

        &-item{
            // margin-left: 160px; //ici pour modifier espacement 
            font-size: 24px;
            // display: flex;
            
        }
    }
}
